/* Declaration de la Classe Grand-titre */
.grand-titre{
	background-color: #0080ff; 
	color: #FFFFFF;
	padding: 10px 5px;
	font-size: 30px;
}

/* Id liens utiles */
#liens-utiles{
	margin: 20px 0 0 0;
}


/* declaration de l'Id Description-Ville */
h2#description-ville{
	margin: 10px 0;
	text-transform: uppercase;
	    color: #408405;
}

/* Forcage CSS */
#description-ville{
	margin: 40px 0 !important;
	border: 2px solid #408405;

	border-left-width: 10px;
	border-right-width: 10px;
}

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background: url("../images/Back.jpg") no-repeat fixed center center;
	background-size: 100% 100%;
/*
	background-image: url("../images/Back.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%; 
*/

}

/* Classe container */
.container{
	width: 400px;
	margin: 0 auto; /*center une div */
	padding: 10px;
}

/* Banniere de la page d'accueil */
#banniere{
	width: 100%;
	border-radius: 5px;	
}

a{
	text-decoration: none;
	font-weight: bold;
}

#list-services{
	list-style: square;
}#bouttons{
	margin:20px 0 0 0;
}.container div p span{
	font-size: 40px;
}