﻿<!doctype html>
<html lang="fr-FR" ng-app>
<head>
<meta charset=utf-8>

<title>Formation HTML</title>
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- icone de l'application -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

<!--======= Librairies du projet ============-->
<!-- Librairie Font Awesome 4.5 -->
<link rel="stylesheet" type="text/css" href="lib/fontawesome45/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	

<!-- 	Librairie Jquery -->
<script src="lib/jquery/jquery.min.js"></script>

<!-- Angular JS -->
<script src="lib/angularjs/angular.min.js"></script>

</head>

<body>
<!-- container -->
<div class="container">

	<img id="banniere" src="images/green-park-website-header-design-background.jpg" height="100" />

	<div>
		<p>
			<i class="fa fa-user"></i> 
			<span id="txtNomClient">{{NomClient}}</span> 
		</p>
	</div>

	<!-- Ceci est un grand titre -->
	<h1 class="grand-titre">Bienvenue à Yamoussoukro</h1>
	
	<!-- Contenu -->
	<div>
		<h2 id="description-ville">Capitale Verte</h2>

		<input type="text" id="inputNomClient" ng-model="NomClient" placeholder="Entrer votre nom">

		<!--Bouttons d'actions-->
		<div id="bouttons" ng-if="NomClient == 'SODERTOUR'">
			
			<button id="btnconnexion"> <i class="fa fa-sign-in"></i> Connexion </button>

			<button id="btnMasquerImage"> <i class="fa fa-remove"></i> Masquer Bannière</button>

			<button id="btnAfficherImage"> <i class="fa fa-check-circle"></i> Afficher Bannière</button>

			<button id="btnAfficherMasquerImage"> <i class="fa fa-euro"></i> Afficher/Masquer</button>

			<button id="btnAjouterElement"> <i class="fa fa-plus-circle"></i> Ajouter Element</button>

			<button id="btnAttribuerClasse"> <i class="fa fa-plus-square"></i> Attribuer Classe</button

		</div>

		<h3 class="grand-titre">Hôtel Président</h3>

		<!-- Ceci est un paragraphe -->
		<p ng-class="{grand-titre: NomClient == 'SODERTOUR'}"><i>Nous sommes à la salle KOSSOU</i></p>
	</div>

	<!-- les liens -->
	<div id="liens-utiles">
		<a href="presentation_hotel.html"><strong>Présentation de l'hôtel</strong></a>
		<br>
		<a href="services_hotel.html"><b>Les services de l'hôtel</b></a>
		<br>
		<a href="https://www.google.com" target="_blank"><b>Aller sur Google</b></a>
		<br>
	</div>
</div>


	<!-- Script JS de l'application-->
	<script src="js/script.js"></script>


</body>
</html>